In [3]:
import pandas as pd

In [3]:
add_df = pd.read_csv(r'C:\Project\phishing_bum\phishing-bum\data\유튜브보이스피싱.csv')
add_df.head(2)

                                                 txt  label
0  제 누구라고요 서울 중앙지검이라고요 검찰청입니다 네 본인 그 명의 전용 사건 관련해...      1
1  여보세요 어 네 김다미실 맞으신가요 네 수고하십니다 여기 서울지검 백승 수관입니다 ...      1

In [4]:
add_df.shape

(41, 2)

In [5]:
origin_df = pd.read_csv(r'C:\Project\phishing_bum\phishing-bum\data\raw.csv')
origin_df.head(2)

                                                 txt  label
0  네 본인께서는 조사를 받으셔야 되고요 네 알겠습니다 그럼 이어서 말씀드릴게요 예 앞...      1
1  서울 중앙시간에 박관입니다 네 예 다름이 아니라 그 본인관된 불법 명의 사건이 지금...      1

In [6]:
origin_df.shape

(55833, 2)

In [7]:
fin_df = pd.concat([add_df, origin_df], axis=0)
fin_df.head(2)

                                                 txt  label
0  제 누구라고요 서울 중앙지검이라고요 검찰청입니다 네 본인 그 명의 전용 사건 관련해...      1
1  여보세요 어 네 김다미실 맞으신가요 네 수고하십니다 여기 서울지검 백승 수관입니다 ...      1

In [8]:
fin_df.shape

(55874, 2)

In [9]:
# save fin dataset
fin_df.to_csv(r'C:\Project\phishing_bum\phishing-bum\data\fin.csv', index=False)

In [15]:
# load df
load_df = pd.read_csv(r'C:\Project\phishing_bum\phishing-bum\data\fin.csv')
load_df.head(2)

                                                 txt  label
0  제 누구라고요 서울 중앙지검이라고요 검찰청입니다 네 본인 그 명의 전용 사건 관련해...      1
1  여보세요 어 네 김다미실 맞으신가요 네 수고하십니다 여기 서울지검 백승 수관입니다 ...      1

In [13]:
# check df shape
load_df.shape

(55874, 2)

In [14]:
class0 = load_df[load_df['label'] == 0]
class1 = load_df[load_df['label'] == 1] # phishing data
class0.shape, class1.shape

((55310, 2), (564, 2))

- augmentation test

In [13]:
sample = pd.DataFrame({'label' : [1] * 3})
sample

   label
0      1
1      1
2      1

In [41]:
load_df

                                                     txt  label
0      제 누구라고요 서울 중앙지검이라고요 검찰청입니다 네 본인 그 명의 전용 사건 관련해...      1
1      여보세요 어 네 김다미실 맞으신가요 네 수고하십니다 여기 서울지검 백승 수관입니다 ...      1
2      네 수고하십니다 지금 전화드린 곳은 강사찰 사과에서 연락을 드렸고요 저는 한주동이라...      1
3      엠지 새마을금고입니다 고객님 네 고객님 다름이 아니시고요 지금 정부에서 지원하나 마...      1
4      여보세요 십니까 네 무슨 일이세요 예 수고하십니다 서울 중앙직원 김영준 수사관입니다...      1
...                                                  ...    ...
55869  코로나19 검사를 받을 방법이 있습니까? 거주 지역의 보건소에서 검사받으실 수 있어...      0
55870  안녕하세요 코로나 치료비 관련해서 문의드릴려고 하는데요. 어떻게 하나요? 치료비에 ...      0
55871  선진국에서 코로나 백신 사재기 하고 있다는데 진짠가요?  어떤 코로나 백신을 말씀하...      0
55872  사장님이 코로나 때문에 가게를 쉰다고 해서요.  제가 휴업수당을 받을 수 있을까요?...      0
55873  안녕하세요. 무엇을 도와드릴까요? 이번에 코로나가 걸려 입원하게 되어 전화드렸습니다...      0

[55874 rows x 2 columns]

In [62]:
idx = load_df[load_df['label'] == 1].index
idx

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            554, 555, 556, 557, 558, 559, 560, 561, 562, 563],
           dtype='int64', length=564)

In [66]:
l = [0, 1, 2, 4]
load_df.iloc[l]

                                                 txt  label
0  제 누구라고요 서울 중앙지검이라고요 검찰청입니다 네 본인 그 명의 전용 사건 관련해...      1
1  여보세요 어 네 김다미실 맞으신가요 네 수고하십니다 여기 서울지검 백승 수관입니다 ...      1
2  네 수고하십니다 지금 전화드린 곳은 강사찰 사과에서 연락을 드렸고요 저는 한주동이라...      1
4  여보세요 십니까 네 무슨 일이세요 예 수고하십니다 서울 중앙직원 김영준 수사관입니다...      1